In [37]:
komedie = c(83, 74, 79, 75, 87)
drama = c(87, 86, 80, 72, 84)
horor = c(80, 92, 81, 65, 77)

df = data.frame('type'=factor(rep(c('komedie', 'drama', 'horor'), each=length(horor))),
                'val'=c(komedie, drama, horor))

In [39]:
df

   type    val
1  komedie 83
2  komedie 74
3  komedie 79
4  komedie 75
5  komedie 87
6  drama   87
7  drama   86
8  drama   80
9  drama   72
10 drama   84
11 horor   80
12 horor   92
13 horor   81
14 horor   65
15 horor   77

In [45]:
summary(aov(val ~ type, df))

            Df Sum Sq Mean Sq F value Pr(>F)
type         2   21.7   10.87   0.203  0.819
Residuals   12  642.0   53.50

In [49]:
m_k = mean(komedie)
m_d = mean(drama)
m_h = mean(horor)

In [53]:
M = mean(c(komedie, drama, horor))

In [111]:
SSm = 5 * ((M - m_k)**2 + (M - m_d)**2 + (M - m_h)**2)

In [113]:
SSv = sum((c(komedie, drama, horor) - rep(c(m_k, m_d, m_h), each=5))**2)

In [115]:
MSm = SSm / 2
MSv = SSv / 12

In [141]:
F

[1] 0.2031153

In [161]:
F = MSm / MSv

In [163]:
1 - pf(F, df1 = 2, df2 = 12)

[1] 0.818933

In [173]:
N = 50
mu = 5.3
s = 0.04

S2 = 0.09